body {
  display: grid;
  place-items: center; 
  font-family: sans-serif;
  font-size: 1rem;
  background-color: tan;
}

.maindiv {
  background-color: darksalmon; 
  border: solid 5px blanchedalmond;
  border-radius: 0.5em;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  color: maroon;
}

.newbtn {
  background: darkred;
}

button {
  background-color: darksalmon;
  border: none;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .2rem;
}

.listdiv {
  border: solid 2px burlywood;
  border-radius: 0.5em;
  background: cornsilk;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Modal box section starts*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(150,150,150);
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  display: grid;
  place-content: center;
  position: relative;
  background-color: cornsilk;
  margin: auto; 
  padding: 10px;
  border: 5px solid blanchedalmond;
  border-radius: 0.5rem;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* modal box section ends */

form {
  display: grid;
}
